In [1]:
# Function to find the second large item value from the list
#INPUT:[1,19,54,64,12,32,23,65]
#OUTPUT:64
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1,19,54,64,12,32,23,65]
secondlarge(li)

64

In [5]:
# Function to find the second least item value from the list
#INPUT:[1,19,54,64,12,32,23,65]
#OUTPUT:12
def  secondleast(li):
    li.sort()
    return li[1]
li=[1,19,54,64,12,32,23,65]
secondleast(li)

12

In [6]:
#function to find the nth (or) Generic large item value from the list
#INPUT:[1,19,54,64,12,32,23,65]
#output:32
#n = 4
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,19,54,64,12,32,23,65]
genericlarge(li,4)

32

In [7]:
#function to find the nth (or) Generic least item value from the list
#INPUT:[1,19,54,64,12,32,23,65]
#output:23
#n=4
def genericleast(li,n):
    li.sort()
    return li[n-1]
li=[1,19,54,64,12,32,23,65]
genericleast(li,4)

23

In [11]:
#Number to list by using function
#input --number
#output -- List
#testcases
#13648 --- [1,3,6,4,8]
def numbertolist(n):
    li=[]
    while n != 0:
        r = n%10
        li.append(r)
        n=n//10 #----[8,4,6,3,1]
    li.reverse()
    return li
numbertolist(13648)

[1, 3, 6, 4, 8]

In [15]:
a="hello world"
s=a.split()

print(s)

['hello', 'world']

In [16]:
#function to convert string to list
#test cases
# "1 2 3 4 5 6"---[1,2,3,4,5,6]
def stringtolist(s):
    li=s.split()
    numberlist =[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
s="1 2 3 4 5 6 7"
stringtolist(s)

[1, 2, 3, 4, 5, 6, 7]

# Tuples
- we cannot change values in tuples
- Tuples enclosed with parenthesis() and values divided by ,
--------------------------------------
# Difference between list and tuple
- List can be changed/Modified
    - Used to access modify,add,delete data
- Tuple cannot be changed
   - used to access data only

In [18]:
t1=(1,2,3,4,5,6)
print(t1)
type(t1)

(1, 2, 3, 4, 5, 6)

tuple

In [19]:
t1[2:4]

(3, 4)

In [20]:
t1[-4:-1]

(3, 4, 5)

In [ ]:
#t1=(7,6,5,4,3,2,2)
#find the sum of the tuple