In [2]:
t1=(10,20,30,40,50)
#reverse that tuple
a=t1[::-1]
print(a)

(50, 40, 30, 20, 10)

In [4]:
# sum of the tuple
t1=(10,20,30,40,50,60,70,123,232)
a=sum(list(t1))
print(a)

635

In [7]:
t1=("Ajay",[1,2,3])
#want to access 2
print(t1[1][0])

1

In [8]:
#swap the following tuples
t1=(10,20)
t2=(11,12)
t1,t2=t2,t1
print(t1)
print(t2)

(11, 12)
(10, 20)

In [9]:
t1=(11,[22,33],12,13,14)
#modify that 33 to 333
#output: (11,[22,333],12,13,14)
t1[1][1]=333
print(t1)

(11, [22, 333], 12, 13, 14)

In [10]:
t1=(10,20,30,20,30,40,30)
#want to check particular number like 30 how many repeating
print(t1.count(30))

3

In [12]:
#check min value in tuple
t1=(1,2,3,4,5,6,7)

a=min(t1)
b=max(t1)
print(a)
print(b)

1
7

In [ ]:
t1=(1,2,3,4,5,6,7)
l1=[1,2,3,4,5,6,7]